body {
  margin: 10% 25%;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

h1, h5 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

p {
  font-weight: 300;
  margin-bottom: 2rem;
}

input {
  border-radius: 25px;
  outline-style: none;
  box-shadow: none;
}

i {
  color: hsl(223, 87%, 63%);
  font-size: 20px;
  border-style: solid;
  border-color: hsl(223, 100%, 88%);
  border-radius: 50px;
  border-width: 1px;
  padding: 1rem;
}

i:hover {
  color: #fff;
  background-color: hsl(223, 87%, 63%);
}

li {
  padding: 0 1rem;
}

ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  padding: 0;
}

.logo {
  width: 20%;
  margin-bottom: 2rem;
}
.email {
  border-color: hsl(223, 100%, 88%);
  border-width: 1px;
  padding: 1rem 10rem;
  max-width: 100%;
}
.email::-webkit-input-placeholder{
  text-align: left;
}
.submit {
  background-color: hsl(223, 87%, 63%);
  border-style: none;
  color: #fff;
  padding: 1rem 4rem;
  max-width: 100%;
}

.illustration {
  width: 100%;
  margin: 3.5rem 0;
}

.fa-facebook-f {
  padding: 1rem 1.2rem;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.error {
  border-color: hsl(354, 100%, 66%);
  border-width: 2px;
}

h6 {
  text-align: left;
  margin: 0.5rem 2rem;
  font-style: italic;
  color: hsl(354, 100%, 66%);
  font-weight: 300;
  display: none;
}

@media screen and (max-width: 800px){
  body {
    margin: 25% 5%;
    font-size: 12px;
  }
  h6{

  }
  input {
    margin-bottom: 0.5rem;
  }

  .email {
    padding: 1rem 4rem;
    margin: 0;
  }
  .submit{
    padding: 1rem 6.5rem;
    margin-top: 0.5rem;
  }
}
